<div style="text-align: center">
  
    <br>
    <h3>Search Here</h3>
    
    
    <input [(ngModel)]="formValue" (keyup.enter)="sendMessage()" type="text" style="width: 700px"><br><br>
    
    <button (click)="sendMessage()">Go</button>
    <ng-container *ngFor="let message of messages | async">
    
      <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                        'to':   message.sentBy === 'user' }">
        {{ message.content }}
      </div>
    
    </ng-container>
    </div> 