

 

  <!-- <img [src]="url" height="400" alt="Uploaded image will be shown here"> <br />
  <input type='file' (change)="onSelectFile($event)"><br>
  <button type="submit" class="confirm"(click) = 
'add()'>Confirm</button>
  <h1>Ticket Details</h1> -->
  <!-- <h3>Ticket upload in JPG, JPEG ,PNG Format</h3>
<img [src]="url" height="400" alt="Uploaded image will be shown here"> <br />
<input type="file" (change)="onFileSelected($event)" ><br>
<button type="button" (click)="onUpload()">Upload</button><br><br>
</div> -->
<!-- <div class="col-md-12">
    <mat-form-field>
      <input matInput #ticketNumber required placeholder="TicketNumber">
    </mat-form-field><br>
    <mat-form-field>
        <input matInput #price required placeholder="Price on Ticket">
      </mat-form-field><br>
      <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder=" Journey Date" #picker required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field><br>

      <mat-form-field>
          <input matInput #distance required placeholder="Distance Travelled">
        </mat-form-field>
      </div>
      <mat-checkbox>I agree to the Terms and Conditions</mat-checkbox><br>


  <button type="button"
  (click)="saveTicket(ticketNumber.value, price.value ,picker._validSelected,  distance.value)">Click here to save</button> -->
  <!-- <div class="container" style="margin-left: 400px">
  <div class="card m-3" style="width: 400px">
      <h5 class="card-header">Ticket Details</h5>
      <div class="card-body">
          <form [formGroup]="form" (ngSubmit)= "onSubmit()" >
                  <div class="form-group">
                      <label>TicketNumber</label>
                      <input type="number" formControlName="ticketNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                      <div *ngIf="submitted && f.ticketNumber.errors" class="invalid-feedback">
                          <div *ngIf="f.ticketNumber.errors.required">TicketNumber is required</div>
                          <div *ngIf="f.ticketNumber.errors.ticketNumber">TicketNumber must be a valid positive integer</div>
                      </div>
                      </div>
                      <div class="form-group">
                          <label>Price</label>
                          <input type="number" formControlName="price" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                          <div *ngIf="submitted && f.price.errors" class="invalid-number">
                              <div *ngIf="f.price.errors.required">price is required</div>
                              <div *ngIf="f.price.errors.price">price must be a valid positive integer</div>
                          </div>
                          </div>
                          <div class="form-group">
                              <label>Date</label><br>
                              <input type="date" formControlName="date" value="{{ post.date | date:'yyyy-MM-dd' }}" style="width:360px">
                          </div>
                          <div class="form-group">
                              <label>Distance</label>
                              <input type="number" formControlName="distance" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                              <div *ngIf="submitted && f.distance.errors" class="invalid-feedback">
                                  <div *ngIf="f.distance.errors.required">Distance is required</div>
                                  <div *ngIf="f.distance.errors.distance">Distance must be a valid email address</div>
                              </div>
                              </div>
                              <div class="form-group form-check">
                                  <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                                  <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                                  <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
                              </div>
                              <div class="text-center">
                                  <button class="btn btn-primary mr-1" type="submit" >Register</button>
                                  (click)= "onSubmit(ticketNumber.value, price.value, date.value, distance.value)" -->
                                  <!-- <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
                              </div>
                              </form >  
                              
      </div>
  </div>
 </div> -->
 
  <!-- https://stackblitz.com/edit/angular-8-reactive-form-validation -->
