<!--Navbar-->
<div>
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green" [containerInside]="false">

    <!-- Navbar brand -->
    <h1>
    <mdb-navbar-brand><a class="navbar-brand" href="#">Frex</a></mdb-navbar-brand>
    </h1>
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        
  
        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
                <mdb-icon fas icon="user-alt"></mdb-icon> Profile<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">My account</a>
            <a class="dropdown-item waves-light" mdbWavesEffect href="#">Log out</a>
          </div>
        </li>
  
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->
  
  </mdb-navbar>
    <router-outlet></router-outlet>
</div>
